# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ide settings
.vscode/*
build/

/*Custom*/
.vs/
*.sln
*.vcxproj
*.filters
*.user
log.txt
x64/
.VSCodeCounter/

*.ini